<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Reserva de Citas</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<header>
    <div class="logo">
        <img src="../static/img/logo.png" alt="Logo de la clínica">
    </div>
    <nav>
        <ul>
            <li><a href="#sedes">Sedes</a></li>
            <li><a href="#staff">Staff Médico</a></li>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="login.html">Reserva tu Cita</a></li>
        </ul>
    </nav>
</header>

<section class="slideshow">
    <div class="slider">
        <!-- Imagen 1 y Texto 1 -->
        <div class="slide">
            <div class="imagen">
                <img src="../static/img/imagen1.jpg" alt="Imagen 1">
            </div>
            <div class="texto">
                <h2>Cuidado Dental Integral para Adultos</h2>
                <p>En nuestra clínica, ofrecemos servicios odontológicos especializados para adultos, diseñados para satisfacer las necesidades específicas de cada paciente. Desde limpiezas regulares hasta tratamientos avanzados, nuestro equipo de profesionales está comprometido a brindarle una sonrisa saludable y radiante en cada etapa de su vida.</p>
            </div>
        </div>
        <!-- Imagen 2 y Texto 2 -->
        <div class="slide">
            <div class="imagen">
                <img src="../static/img/imagen2.jpg" alt="Imagen 2">
            </div>
            <div class="texto">
                <h2>Sonrisas Saludables desde la Infancia</h2>
                <p>En nuestra clínica, entendemos la importancia de cuidar la salud dental de los más pequeños. Nuestro equipo está especialmente capacitado para ofrecer un ambiente acogedor y amigable para los niños, brindando servicios odontológicos preventivos y tratamientos adaptados a sus necesidades. Desde la primera visita hasta la adolescencia, estamos aquí para mantener las sonrisas de sus hijos radiantes y saludables.</p>
            </div>
        </div>
        <!-- Imagen 3 y Texto 3 -->
        <div class="slide">
            <div class="imagen">
                <img src="../static/img/imagen3.jpeg" alt="Imagen 3">
            </div>
            <div class="texto">
                <h2>Innovación en Cuidado Dental</h2>
                <p>En nuestra clínica, nos comprometemos a utilizar la última tecnología en odontología para proporcionar a nuestros pacientes un cuidado dental de vanguardia. Desde herramientas de diagnóstico digital hasta tratamientos avanzados como la odontología láser y los implantes dentales guiados por computadora, estamos dedicados a brindarle una experiencia cómoda, eficiente y de alta calidad en cada visita.</p>
            </div>
        </div>
    </div>
    <button class="prev">&#10094;</button>
    <button class="next">&#10095;</button>
</section>

<section class="opiniones">
    <!-- Aquí se mostrarán las opiniones mas adelnmte-->
</section>

<footer>
    <div class="contacto">
        <h3>Contacto</h3>
        <!-- Opciones para contactar -->
    </div>
    <div class="informacion">
        <h3>Información</h3>
        <!-- Otras opciones -->
    </div>
    <div class="descargar">
        <h3>Descargar Nuestra App</h3>
        <a href="#"><img src="app_store.png" alt="App Store"></a>
        <a href="#"><img src="google_play.png" alt="Google Play"></a>
    </div>
</footer>

<script src="../static/js/script.js"></script>
</body>
</html>